[Desktop Entry]
Name=Patchichi
GenericName=Patchichi
Comment=Jack Patchbay
Comment[fr]=Baie de brassage pour JACK
Exec=patchichi
Icon=patchichi
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Qt;
